# JWT
app.jwt.secret=
app.jwt.expiration-ms=86400000

# Google
app.google.client-id=

# Firebase Storage
app.firebase.enabled=false
app.firebase.credentials-path=classpath:firebase/firebase-service-account.json
app.firebase.bucket-name=

# FFmpeg watermark
app.ffmpeg.binary-path=ffmpeg
app.ffmpeg.ffprobe-path=ffprobe
app.ffmpeg.watermark-interval-seconds=10
app.ffmpeg.beep-active-seconds=0.35
app.ffmpeg.original-volume=0.75
app.ffmpeg.watermark-volume=1.0

# Mail
spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=
app.mail.from=
spring.mail.password=
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true
spring.mail.default-encoding=UTF-8


# Frontend reset password url
app.frontend.reset-password-url=

# VNPay
vnpay.tmn-code=
vnpay.hash-secret=
vnpay.pay-url=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html

# Optional redirect target after VNPay verification
app.frontend.checkout-url=http://localhost:5173/checkout
