# JWT
app.jwt.secret=
app.jwt.expiration-ms=86400000

# Google
app.google.client-id=

# Mail
spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=
app.mail.from=
spring.mail.password=
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true
spring.mail.default-encoding=UTF-8


# Frontend reset password url
app.frontend.reset-password-url=